<nav class="navbar navbar-default" style="background-color:white;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left:10%;height:15vh;">
            <a class="navbar-brand" href="/" style="height : 100%;">
              <img src="/img/logo.png" style="height:100%;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="margin-right : 5vw;" id="authFunc">           
            </ul>
        </div>  
    </div>
</nav>